/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 80px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #fafafb;
}

.section-title {
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    font-family: 'Oswald', sans-serif;
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #009961;
    bottom: 0;
    left: 0;
}

.section-title p {
    margin-bottom: 0;
    color: #777777;
    font-size: 18px;
    font-weight: 500;
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
    padding: 60px 30px;
    transition: all ease-in-out 0.3s;
    background: #fefefe;
    box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
    border-radius: 18px;
    border-bottom: 5px solid #fff;
}

.services .icon-box .icon {
    width: 64px;
    height: 64px;
    background: #15b788;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: ease-in-out 0.3s;
    color: #fff;
}

.services .icon-box .icon i {
    font-size: 28px;
}

.services .icon-box h4 {
    font-weight: 400;
    margin-bottom: 15px;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}

.services .icon-box h4 a {
    color: #282828;
    transition: ease-in-out 0.3s;
}

.services .icon-box p {
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 0;
    font-weight: 400;
}

.services .icon-box:hover {
    transform: translateY(-10px);
    border-color: #1395BA;
}

.services .icon-box:hover h4 a {
    color: #009961;
}